/*****************************************************************************
  responsive-profile
******************************************************************************/


@import '../../bower_components/bourbon/dist/_bourbon.scss';
@import '../../bower_components/neat/app/assets/stylesheets/_neat.scss';





/*****************************************************************************
  Base Styles
******************************************************************************/

html, body {
	margin: 0;
	padding: 0;
	font-family: Roboto,'Amatic SC', sans-serif;
	font-size: 24px;
}

body {
	background: url(https://dl.dropboxusercontent.com/u/19014071/Bitmaker/profile_chandelier_v4.png) no-repeat top center fixed;
	background-attachment: fixed;
	background-size: cover;
	height: 100%;
	width: 100%;
}



/*****************************************************************************
  Layout Styles
******************************************************************************/
/*@media screen and (max-width: 700px){
	.header {
	   width: 100%; /* for IE 6 */
/*	   border: none;  
	   margin: 0;
	   padding: 0;

	}

	.header ul {
		list-style-type: none;
	    margin: 0;
	    padding-top: 0;
	    padding-bottom: 5px;
	    padding-right: 5px;
	    float: right;

	}

	.header li {
		display: inline;
		padding: 5px;
		color: white;
		font-style: sans-serif;


	}

	.header li a {
		color: white;
		font-size: 20px;
	}

	a:link, a:visited {
	    color: grey;

	}

	p a:hover {
	    color: tomato;
	}	

	h1 { 
	   position: absolute; 
	   top: 70px; 
	   left: 5px; 
	   font-size: 10vw;
	   color: white;
	   font-weight: normal;
	}

	.image h2 { 
	   position: absolute; 
	   top: 180px; 
	   left: 5px; 
	   font-size: 15vw;
	   color: white;
	   font-weight: normal;
	}

	.about {
	text-align: center;
	}

	.about h2 {
		font-size: 30px;
	}

	.about p {
		width: 100%;
	  	margin: 0;
	  	font-size: 24px;

	}


	.about a img {
		width: 48px;
		padding: 10px 5px 25px 5px;
		position: relative;
	}

}*/

@media screen and (min-width: 1px) {
	.header {
	   width: 100%; /* for IE 6 */
	   border: none;  
	   margin: 0;
	   padding: 0;
	   top: 0;
	   display: block;
	}

	.header ul {
		list-style-type: none;
	    margin: 0;
	    padding-top: 0.5em;
	    padding-bottom: 0.5em;
	    padding-right: 1em;
	    float: right;

	}

	.header li {
		display: inline;
		padding: 10px;



	}

	.header li a {
		color: white;
		font-size: 1em;
		text-decoration: none;
		font-weight: 900;
	}

	.splash {
		display: inline-block;
		margin-top: 150px;
		margin-left: auto;
		margin-right: auto;
		width: 100%;

	}

	.splash>h1{ 
	   display: inline-block;
	   margin: 0 auto;
	   width: 100%;
	   text-align: center;
	   font-size: 3em;
	   color: white;
	   font-weight: normal;
	   font-family: 'Amatic SC';
	}

	.splash>h2 {
		font-family: 'Amatic SC';
		color: white;
		font-size: 1.5em;
		margin-left: auto;
		margin-right: auto;
		margin-top: 0.1em;
		margin-bottom: 0.1em;
		width: 100%;
		text-align: center;
	}

	.content {
		display: block;
		background-color: white;
		position: relative;
		font-size: 1em;
		text-align: center;
		margin-top: 8em;

	}


	.about {
		margin-top: 2em;
		margin-bottom: 2em;
	}

	.content h2 {
		font-size: 2em;
		padding-top: 1em;
		margin: 0 auto;
		font-family: 'Amatic SC';

	}

	.content p {
		font-size: 1em;
		width: 35em;
	  	margin: 1em auto 1em auto;

	}


	.content a img {
		width: 48px;
		padding: 10px 5px 25px 5px;
		position: relative;
	}

	.about-section {

	}

	.projects {
		background-color: #282828;
		padding-bottom: 1em;
		color: white;
		min-height: 20em;
	}
}





/*****************************************************************************
  Module Styles
******************************************************************************/




