html, body {
	margin: 0;
	padding: 0;
}

img {
	max-width: 100%;
}

.header {
	font-family: 'Amatic SC', cursive;
	padding: 10px;
	border: 10px;
}

.header ul {
	list-style-type: none;
    margin: 0;
    padding: 0;
    float: right;

}

.header li {
	display: inline;
	padding: 8px;
	color: black;


}

.header li a {
	color: black;
	font-size: 28px;

}

.header { 
   position: relative; 
   width: 100%; /* for IE 6 */
   border: none;  
   margin: 0;
   padding: 0;
}



h1 { 
   position: absolute; 
   top: 105px; 
   left: 30px;
   font-size: 95px;
   color: white;
   font-family: 'Amatic SC', sans-serif;
   font-weight: normal;
}

header {
	float: right;
	font-family: 'Amatic SC', sans-serif;
	padding: 10px;
	border: 10px;
}

.about {
	font-family: 'Amatic SC', sans-serif;
	text-align: center;
}

.about h2 {
	font-size: 80px;
}

.about p {
	font-size: 44px;
	width: 16.667em;
  	margin: 1em auto 1em auto;

}

.about ul {
	font-size: 54px;
	list-style-type: none;

}

.about a img {
	width: 48px;
}
