/*****************************************************************************
  responsive-profile
******************************************************************************/
/* Neat 1.7.0
 * http://neat.bourbon.io
 * Copyright 2012-2014 thoughtbot, inc.
 * MIT License */
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

/*****************************************************************************
  Base Styles
******************************************************************************/
html, body {
  margin: 0;
  padding: 0;
  font-family: Roboto, 'Amatic SC', sans-serif;
  font-size: 18px; }

body {
  background: url(https://dl.dropboxusercontent.com/u/19014071/Bitmaker/profile_chandelier_v4.png) no-repeat top center fixed;
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
  max-width: 100%; }

/*****************************************************************************
  Layout Styles
******************************************************************************/
.header {
  margin: 0;
  padding: 0;
  display: block; }

.header ul {
  list-style-type: none;
  margin: 1em 0 0 0;
  padding: 0;
  text-align: center; }

.header li {
  display: inline;
  padding: 8px; }

.header li a {
  color: white;
  font-size: 0.9em;
  text-decoration: none;
  font-weight: 900;
  padding-top: 4px; }

@media screen and (max-width: 768px) {
  .header li a {
    font-size: 0.7em; }
 }

.header li a:hover {
  border-top: 2px solid white; }

.splash {
  display: inline-block;
  margin-top: 150px;
  margin-left: auto;
  margin-right: auto;
  width: 100%; }

.splash > h1 {
  display: inline-block;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  font-size: 3em;
  color: white;
  font-weight: normal;
  font-family: 'Amatic SC'; }

.splash > h2 {
  font-family: 'Amatic SC';
  color: white;
  font-size: 1.5em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.1em;
  margin-bottom: 0.1em;
  width: 100%;
  text-align: center; }

.content {
  display: block;
  background-color: white;
  position: relative;
  font-size: 1em;
  text-align: center;
  margin-top: 8em;
  -webkit-transform: skewY(-5deg);
          transform: skewY(-5deg); }

.about {
  margin-top: 14em;
  margin-bottom: 3em; }

.external-link a {
  color: grey; }

.content h2 {
  font-size: 2em;
  padding-top: 1em;
  margin: 0 auto;
  font-family: 'Amatic SC'; }

.about p {
  font-size: 1em;
  margin: 1.5em 1em 1em 1em; }

@media screen and (min-width: 820px) {
  .about p {
    width: 75%;
    margin: 1.5em auto; }
 }

.contact h2 {
  margin-bottom: 0.5em; }

.contact a {
  width: 48px;
  padding: 10px 5px 25px 5px;
  position: relative; }
  .contact a i {
    color: grey; }

/*Makes text in content align straight again.*/
.text-section {
  -webkit-transform: skewY(5deg);
          transform: skewY(5deg);
  padding: 1.4em 0;
  line-height: 1.3em; }

.section-dark {
  background-color: #282828;
  padding-bottom: 1em;
  color: white;
  min-height: 25em; }

.contact {
  padding-top: 1.5em;
  padding-bottom: 2em; }

.contact a {
  text-decoration: none; }

/*****************************************************************************
  Module Styles
******************************************************************************/
.timeline {
  overflow: hidden;
  margin-top: 1.2em;
  font-size: 1.6em;
  width: 65%;
  margin-left: 20%; }

.timeline .timeline-item {
  width: 100%;
  padding-top: 2em; }

.timeline .timeline-item .info, .timeline .timeline-item .year {
  color: #eee;
  display: block;
  float: left;
  transition: all 1s ease; }

.timeline .timeline-item.close .info, .timeline .timeline-item.close .year {
  color: #ccc;
  transition: all 1s ease; }

.timeline .timeline-item .year {
  font-size: 0.6em;
  font-weight: bold;
  width: 22%;
  text-align: right; }

.timeline .timeline-item .timeline-image {
  display: block;
  float: left;
  width: 20%; }

.timeline .timeline-item .timeline-image img {
  width: 100%; }

#cap-image {
  margin-left: 2vw;
  margin-right: 2vw;
  width: 44px; }

#earth-image {
  margin-top: -2.5vw;
  width: 81px;
  margin-left: 0.8vw; }

#pie-graph-image {
  width: 69px;
  margin-top: -1.8vw;
  margin-left: 1.2vw;
  margin-right: 0.9vw; }

#graph-image {
  margin-top: -1.5vw;
  margin-left: 1vw;
  margin-right: 0.1vw;
  width: 79px; }

#coding-image {
  width: 39px;
  margin-left: 2.5vw;
  margin-right: 2vw;
  margin-top: -0.6vw; }

.timeline .timeline-item .info {
  width: 78%;
  height: 100px;
  margin-left: -2px;
  border-left: 4px solid #aaa;
  font-size: 18px;
  line-height: 25px;
  text-align: left; }

.timeline .timeline-item .marker {
  background-color: #fff;
  border: 4px solid #aaa;
  height: 20px;
  width: 20px;
  border-radius: 100px;
  display: block;
  float: right;
  margin-right: -10px;
  margin-left: 1em;
  z-index: 2000;
  position: relative; }

.timeline .timeline-item.active .info, .timeline .timeline-item:hover .info {
  color: #444;
  transition: all 1s ease; }

.timeline .timeline-item.active .year, .timeline .timeline-item:hover .year {
  color: #cf5300; }

.timeline .timeline-item .marker .dot {
  background-color: white;
  transition: all 1s ease;
  display: block;
  border: 4px solid white;
  height: 12px;
  width: 12px;
  border-radius: 100px;
  float: right;
  z-index: 2000;
  position: relative; }

.timeline .timeline-item.active .marker .dot, .timeline .timeline-item:hover .marker .dot {
  transition: all 1s ease;
  background-color: #cf5300;
  box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.2); }

@media screen and (max-width: 768px) {
  .timeline {
    font-size: 1em;
    width: 100%;
    margin: 0; }

  .timeline .timeline-item .info {
    font-size: 0.8em;
    line-height: 17px; }

  .timeline .timeline-item .year {
    font-size: 0.8em;
    font-weight: bold;
    width: 22%;
    text-align: right; }
 }

.project-item {
  border: 1px solid white;
  margin-top: 2em;
  margin-right: 1em;
  display: inline-block;
  width: 25%;
  height: 13em;
  vertical-align: top; }
  .project-item h5 {
    margin: 0;
    padding: 0;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%); }
